{{#section 'title'}}
Tạo bài đăng mới
{{/section}}
{{!-- {{#section 'breadcrumb'}}
<div class="container-fluid padd10 breadcrumb-wrap">
	<ol class="breadcrumb">
		<li><a href="/">Home</a></li>
		<li class="active">Create new auction</li>
	</ol>
</div>
{{/section}} --}}
{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/css/create-post.css">
{{/section}}
{{#section 'js'}}
<script type="text/javascript" src="/js/create-post.js"></script>
<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=8c7gqhjcct98asiggtdqyix3fzf7p1rud8rdcatjt9fpxrf9"></script>
<script>tinymce.init({ selector:'textarea', plugins: "image" });</script>
{{/section}}
<div class="row mybox white-bg mar-10">
	<div class="row mar-10">
		<h1>Tạo bài đăng</h1>
	</div>
	<hr>
	<div class="row mar-10">
		<form id="form-create-post" method="POST" action="/admin/tao-bai-dang">
			<div class="form-group">
				<label for="title">Tiêu đề (*)</label>
				<input type="text" class="form-control" id="title" name="title" required placeholder="Nhập tiêu đề (Độ dài tối thiểu là 3) ...">
			</div>
			<div class="form-group">
				<label for="category">Danh mục</label>
				<select class="form-control" name="category" id="category">
					{{#each layoutVM.cats}}
					<option value="{{id}}">{{name}}</option>
					{{/each}}
					<option value="{{news_cat.id}}">{{news_cat.name}}</option>
				</select>
			</div>
			<div class="form-group">
				<label for="post-image">Ảnh chủ đề</label>
				<input type="text" class="form-control" id="post-image" name="image" placeholder="Nhập link ảnh ...">
			</div>
			<div class="form-group">
				<label for="shortDesc">Mô tả ngắn gọn (*)</label>
				<textarea class="form-control" rows="6" id="shortDesc" name="shortDesc"></textarea>
			</div>
			<div class="form-group">
				<label for="content">Mô tả chi tiết (*)</label>
				<textarea class="form-control" rows="20" id="content" name="content"></textarea>
			</div>
			<!-- <div class="form-group info-image padd10">
					<label class="padd10">Chọn ảnh (*)</label>
					<div class="row image-input-list">
					</div>
			</div>-->
			
			<div class="text-center padd-10">
				<button type="button" id="create-post-btn" class="btn btn-success">Đăng bài</button>
			</div>
		</form>
	</div>
	
</div>