{{#section 'title'}}
Admin
{{/section}}
{{#section 'css'}}
{{!-- <link rel="stylesheet" type="text/css" href="/css/contact.css"> --}}
{{/section}}
{{#section 'js'}}
{{/section}}
<div class="row categories mybox mybox-bg mar-10 padd-10">
	<div class="mybox white-bg padd-10">
		<a href="/admin/tao-bai-dang">Tạo bài đăng.</a>
	</div>
</div>