.input-image-upload {
    opacity: 0;
   position: absolute;
   z-index: -1;
}

.preview {
    height: 200px;
    width: auto;
}

.preview img{
    max-width: 100%;
    max-height: 100%;
}
.img-upload-btn { 
    position: relative; 
    overflow: hidden;
    /*padding-top: 95%;*/
    width: 10%;
    margin: auto;
    border: solid 2px #000 !important;
} 

.img-upload-btn input[type=file] { 
    position: absolute; 
    top: 0; 
    right: 0; 
    min-width: 100%; 
    min-height: 100%; 
    font-size: 100px; 
    text-align: right; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    outline: none; 
    background: white; 
    cursor: inherit; 
    display: block; 
} 

.img-upload-btn i { 
    position: absolute;
    height: 16px;
    width: 16px;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}
