.span-link {
  color: blue;
}
.span-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.small img {
	height: 100px;
}
.large img {
	max-height: 500px;
}

.post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post-footer .input-group-addon a {
  color: #454545;
}
.post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post-heading .meta .title {
  margin-bottom: 0;
}
.post-heading .meta .title a {
  color: black;
}
.post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post-image .image {
  width: 100%;
  height: auto;
}
.post-description {
  padding: 15px;
}
.post-description p {
  font-size: 14px;
}
.post-description .stats {
  margin-top: 20px;
}
.post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post-description .stats .stat-item .icon {
  margin-right: 8px;
}