/*----------categories------------*/
.categories img{
border: 10px solid transparent;
margin-bottom: 25px;
height: 200px;
opacity: 0.7;
}
.categories img:hover {
border-color: #f1f1f1;
}
/*----------post------------*/
