/*----------post------------*/
/*.one-post {
margin: 10px;
padding: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/
.pagination>li>a,
.pagination>li>span {
/*border: 1px solid purple;*/
background: #daad86;
color: #312c32;
}
.pagination>li.active>a {
background: #fff;
color: #312c32;
}