/*----------ALL------------*/
body {
background: #98dafc;
/*background: #fff;*/
color: #312c32;
}
.affix {
top: 60px;
right: 0;
}

.social-btn {
	margin-top: 10px;
	display: block !important;
}

.mar-10 {
margin: 10px;
}
.padd-10 {
padding: 10px;
}
.container {
border: 1px solid;
}
.white-bg {
background: #fff;
}
.nopadding {
padding: 0 !important;
margin: 0 !important;
}
a {
color: inherit;
}
.list-posts img {max-width: 300px; max-height:300px;}
.list-posts .media .content {
	padding: 40px 0 15px 0;
}
@media screen and (max-width: 480px) {
.mar-10 {
margin: 1px;
}
.padd-10 {
padding: 5px;
}
.jumbotron {
height: 250px !important;
}
.list-posts img {max-width: 100px; max-height:150px;}
}
@media (max-width: 767px) {
    .affix {
        position: static;
    }
}

@media screen and (min-width: 768px) {
.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
/*background-color: rgb(231, 231, 231);
color: rgb(85, 85, 85);*/
}
li.dropdown:hover > .dropdown-menu {
display: block;
}
}
/*----------mybox------------*/
.mybox {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mybox-bg {
background: #daad86;
}
/*----------navbar------------*/
.navbar .navbar-nav .dropdown-menu {
padding: 10px;
}
.navbar {
padding: 10px;
background-color: #daad86;
font-size: 16px !important;
/*z-index: 9999;*/
/*line-height: 1.42857143 !important;*/
/*letter-spacing: 1px;*/
}
.navbar li a, .navbar .navbar-brand {
color: #312c32 !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
/*color: #312c32 !important;
background-color: #daad86 !important;*/
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19), 0 8px 16px 0 rgba(0, 0, 0, 0.20);
}
.navbar-default .navbar-toggle {
border-color: transparent;
color: #fff !important;
}
.navbar-form .input-group {
display: table;
}
.navbar-form .input-group .input-group-btn {
white-space: nowrap;
width: 1%;
}
.navbar-form .input-group .form-control {
width: 100%;
}
.navbar .dropdown-menu li > a {
color: #fff !important;
font-size: 16px;
padding: 10px;
text-align: center;
border: 1px solid #fff;
}
.navbar .dropdown .dropdown-toggle, .navbar-item {
font-size: 15px;
padding: 10px !important;
text-align: center;
}
.span-auth {
padding: 20px !important;
border: 2px solid #fff;
}
.span-default {
background-color: #98dafc !important;
color: #312c32 !important;
}
.span-auth-facebook {
background-color: #3b5998 !important;
color: #fff !important;
}
.span-auth-google {
background-color: #ff4343 !important;
color: #fff !important;
}
/*----------jumbotron------------*/
.jumbotron {
background-color: #fff;
/*background: #98dafc;*/
/*background-image: url(/images/background.png);
background-repeat: no-repeat;*/
background-size: 100% 100%;
padding: 100px 25px;
height: 500px;
}
/*.jumbotron .avatar {
height: 200px;
}*/
/*----------News bar------------*/
.news-bar a{
padding: 5px;
background: #fff;
}
/*----------footer------------*/
footer {
background-color: #312c32;
color: #ffffff;
}
/*@media screen and (min-width: 480px) {
body {
background-color: lightgreen;
}
}*/