{{#section 'title'}}
Trang chủ
{{/section}}
{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/css/home.css">
{{/section}}
{{#section 'js'}}
<script type="text/javascript" src="/js/ajax-loadmore.js"></script>
{{/section}}
<div class="row categories mybox mybox-bg mar-10 padd-10">
	<div class="page-header">
		<h1>Danh mục nhà đất</h1>
	</div>
	<br>
	<div class="row">
		{{#each layoutVM.cats}}
		<div class="col-sm-4 text-center">
			<div class="row mar-10 padd-10 mybox white-bg">
				<a href="/post/{{pathname}}">
					<p><strong>{{name}}</strong></p><br>
					<img src="/images/avatar.jpg" class="img-circle hidden-xs" alt="Random Name">
				</a>
			</div>
		</div>
		{{/each}}
	</div>
</div>
<div class="row mybox mybox-bg mar-10 padd-10">
	<div class="page-header">
		<h1>Tin nhà đất mới nhất</h1>
	</div>
	<br>
	<div class="list-posts" data-category-pathname="nha-dat">
		{{!-- {{#each estatePosts}}
		{{> one-cell-post}}
		{{/each}} --}}
	</div>
	<div class="row padd-10 mar-10">
		<button class="load-more">Xem tiếp ...</button>
	</div>
	<div id="loadding" class="hidden text-center">Loading ...</div>
</div>