<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:url" content="http://www.your-domain.com/your-page.html" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Your Website Title" />
		<meta property="og:description" content="Your description" />
		<meta property="og:image" content="http://www.your-domain.com/path/image.jpg" />
		<title>{{{_sections.title}}}</title>
		<!-- CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		{{{_sections.css}}}
	</head>
	<body>
		{{> navbar}}
		<div class="jumbotron text-center">
			<h1>Quỳnh Hạnh - Môi giới bất động sản</h1>
		</div>
		{{#if layoutVM.showLike}}
		<div class="social-box" style="position: fixed; top: 30%; left: 0px; z-index: 1000;">
			<div class="social-btn fb-like" data-layout="box_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
			
		</div>
		{{/if}}
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-8 nopadding">
					<div class="row mar-10">
						{{{body}}}
					</div>
				</div>
				<div class="col-sm-4 nopadding sidebar" data-spy="affix" data-offset-top="500">
					<div class="row mar-10">
						{{> news}}
						{{> ads}}
					</div>
				</div>
			</div>
		</div>
		<!-- message modal -->
		{{#if layoutVM.message}}
		<div id="messageModal" class="modal fade" role="dialog">
			<span hidden id="has-message"></span>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title text-info">Thông báo</h4>
					</div>
					<div class="modal-body">
						<p>{{layoutVM.message}}</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
					</div>
				</div>
			</div>
		</div>
		{{else}}
		<div id="messageModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title text-info">Thông báo</h4>
					</div>
					<div class="modal-body">
						<p></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
					</div>
				</div>
			</div>
		</div>
		{{/if}}
		
		<footer class="container-fluid text-center">
			<p>Trang đăng tin của Quỳnh Hạnh </p>
			<p>Liên hệ: Quỳnh Hạnh</p>
			<p>SĐT: 0938340460</p>
			<p>Facebook: xxx</p>
		</footer>
		{{> navbar-modals}}
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
		<script type="text/javascript" src="/js/navbar-modals.js"></script>
		<script type="text/javascript" src="/js/facebook.js"></script>	
		
		{{{_sections.js}}}
	</body>
</html>