{{#if layoutVM.logged_in}}
{{else}}
<div id="registerModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Tạo tài khoản</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="well">
						<form id="form-register" method="POST" action="/signup">
							<div class="col-xs-12">
								<div class="form-group">
									<label for="name">Tên của bạn</label>
									<input type="text" class="form-control" id="fullname" name="name" placeholder="Enter your full name">
								</div>
								<div class="form-group">
									<label for="email">Email</label>
									<input type="text" name="email" id="email" class="form-control" placeholder="example@gmail.com">
								</div>
								<div class="form-group">
									<label for="password">Nhập mật khẩu</label>
									<input type="password" name="password" id="password" class="form-control" placeholder="Password">
								</div>
							</div>
							<div class="col-xs-12">
								<div class="g-recaptcha" data-sitekey="6LcsFSQUAAAAAGimANUo9g5kaA_urtUBzdM8-LEd"></div>
							</div>
							<div id="registerErrorMsg" class="text-danger col-xs-12 padd10"></div>
							<button type="button" class="btn btn-success btn-block">Tạo tài khoản</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="loginModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Đăng nhập</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-6">
						<div class="well">
							<form id="form-login" method="POST" action="/login">
								<div class="form-group">
									<label for="email" class="control-label">Email</label>
									<input type="text" class="form-control" id="email" name="email" value="" required placeholder="Enter your email">
								</div>
								<div class="form-group">
									<label for="password" class="control-label">Mật khẩu</label>
									<input type="password" class="form-control" id="password" name="password" value="" required placeholder="Enter your password">
								</div>
								<div id="loginErrorMsg" class="text-danger col-xs-12 padd10"></div>
								{{!-- <div class="checkbox">
									<label>
										<input type="checkbox" name="remember" id="remember"> Remember login
									</label>
									<p class="help-block">(if this is a private computer)</p>
								</div> --}}
								<button type="button" class="btn btn-success btn-block">Đăng nhập</button>
								{{!-- <a href="/forgot/" class="btn btn-default btn-block">Help to login</a> --}}
							</form>
						</div>
					</div>
					<div class="col-xs-6">
						<p class="lead">Đăng ký ngay để có thể: </p>
						<ul class="list-unstyled" style="line-height: 2">
							<li><span class="glyphicon glyphicon-ok text-success"></span>Hỏi đáp và nhận tư vấn nhanh chóng</li>
							<li><span class="glyphicon glyphicon-ok text-success"></span>Like và chia sẻ bài viết lên mạng xã hội</li>
						</ul>
						<p><a href="#" data-toggle="modal" data-target="#registerModal" data-dismiss="modal" class="btn btn-info btn-block">Tạo tài khoản ngay!</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{/if}}
