<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Trang chủ</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-o"></i> Nhà Đất <span class="caret"></span></a>
					<ul class="dropdown-menu">
						{{#each layoutVM.cats}}
						<li><a href="/post/{{pathname}}" class="span-default">{{name}}</a></li>
						{{/each}}
					</ul>
				</li>
				
				<li><a href="/post/tin-tuc" class="navbar-item" >Tin tức</a></li>
				<li><a href="/contact" class="navbar-item" >Liên hệ</a></li>
				{{#if layoutVM.loggedIn}}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle span-auth span-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-o"></i> {{layoutVM.name}} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						{{#if layoutVM.isAdmin}}
						<li><a href="/admin" class="span-default">Quản lý</a></li>
						{{/if}}
						<li><a href="/logout" class="span-default">Thoát tài khoản</a></li>
					</ul>
				</li>
				{{else}}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle span-auth span-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-o"></i> Đăng nhập <span class="caret"></span></a>
					<ul class="dropdown-menu auth-menu">
						
						<li><a href="#" data-toggle="modal" data-target="#loginModal" class="span-auth span-default">Đăng nhập</a></li>
						<li><a href="#" data-toggle="modal" data-target="#registerModal" class="span-auth span-default">Tạo tài khoản</a></li>
						<li><a href="/auth/facebook" class="span-auth span-auth-facebook"><i class="fa fa-facebook"></i> Đăng nhập bằng Facebook</a></li>
						<li><a href="/auth/google" class="span-auth span-auth-google"><i class="fa fa-google-plus"></i> Đăng nhập bằng Google</a></li>
						
					</ul>
				</li>
				{{/if}}
			</ul>
			<form class="navbar-form" role="search" action="/tim-kiem" method="get">
				<div class="input-group">
				</div>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search" name="q">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</nav>