<div class="row mybox mybox-bg mar-10 padd-10 news-bar">
	<div class="page-header">
		<h1>Tin tức</h1>
	</div>
	<br>
	<div>
	{{#each layoutVM.newsPosts}}
		<p><a href="/post/tin-tuc/{{convertPostTitleAndIdToPath title id}}">{{title}}</a></p>
	{{/each}}
	</div>
</div>