<div class="row mybox white-bg mar-10 padd-10">
	<div class="media">
		<div class="media-left">
			<a class="" href="/post/{{category.pathname}}/{{convertPostTitleAndIdToPath title id}}">
				<img class="media-object" src="{{images.[0]}}">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading"><a href="/post/{{category.pathname}}/{{convertPostTitleAndIdToPath title id}}">{{title}}Tiêu đề</a></h4>
			<small>
				<span class="pull-left"><i class="fa fa-clock-o"></i> <span class="span-date">{{createDate}}</span></span>
				<span class="pull-right">
					<i class="fa fa-list-ul" aria-hidden="true"></i>
					<a href="/post/{{category.pathname}}">{{category.name}}</a>
				</span>
			</small>
			<div class="content">{{{content}}}</div>
			<ul class="list-inline list-unstyled media-bottom">
				<li><small><i class="fa fa-comment-o"></i>{{num-comment}} 2 comments</small></li>
				<li>
					<!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
					<!-- <span><i class="fa fa-facebook-square"></i></span>
					<span><i class="fa fa-twitter-square"></i></span>
					<span><i class="fa fa-google-plus-square"></i></span> -->
				</li>
			</ul>
		</div>
	</div>
</div>