{{#section 'title'}}
{{post.title}}
{{/section}}
{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/detail-post.css">
{{/section}}
{{#section 'js'}}
<script type="text/javascript" src="/js/detail-post.js"></script>
{{/section}}
<span hidden id="postId">{{post._id}}</span>
<div class="row mybox white-bg mar-10">
	<div class="row mar-10">
		<h1 class="page-header">{{post.title}}</h1>
		<small>
		<span class="pull-left"><i class="fa fa-clock-o"></i> <span class="span-date">{{post.createDate}}</span></span>
		<span class="pull-right">
			<i class="fa fa-list-ul" aria-hidden="true"></i>
			<a href="/post/{{post.category.pathname}}">{{post.category.name}}</a>
		</span>
		</small>
	</div>
	
	<div class="row mar-10 padd-10">
		<p>{{{post.content}}}</p>
	</div>
	<hr>
	<div class="row mar-10">
		<div class="row mar-10 mybox white-bg">
			<div class="post-footer">
				<h3>{{post.totalComments}} bình luận</h3>
				<form id="form-comment" action="/ajax/post-comment/{{post._id}}" method="post">
					<div class="input-group">
						<input class="form-control" placeholder="Nhập bình luận ..." type="text" name="text">
						<span class="input-group-addon span-link send-comment">
							<i class="fa fa-send"></i>
						</span>
					</div>
				</form>
				<ul class="comments-list">
					
				</ul>
			</div>
		</div>
	</div>
	
</div>