{{#section 'title'}}
{{title}}
{{/section}}
{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/css/list_post.css">
{{/section}}
{{#section 'js'}}
<script type="text/javascript" src="/js/ajax-loadmore.js"></script>
{{/section}}
<div class="row mybox mybox-bg mar-10 padd-10">
	<div class="page-header">
		<h1>{{title}}</h1>
		<h5>Có {{num_posts}} tin.</h5>
	</div>
	<br>
	<div class="list-posts" data-category-pathname="{{category.pathname}}">
		{{!-- {{#each posts}}
		{{> one-cell-post}}
		{{/each}} --}}
	</div>
	<div class="row padd-10 mar-10">
		<button class="load-more">Xem tiếp ...</button>
	</div>
	<div id="loadding" class="hidden text-center">Loading ...</div>
</div>