{{#section 'title'}}
Liên hệ
{{/section}}
{{#section 'css'}}
{{!-- <link rel="stylesheet" type="text/css" href="/css/contact.css"> --}}
{{/section}}
{{#section 'js'}}
{{/section}}
<div class="row categories mybox mybox-bg mar-10 padd-10">
	<div class="mybox white-bg padd-10">
		<h1>Quỳnh Hạnh</h1>
		<h2>SĐT: 0938340460</h2>
		<h2><span style="color: #3b5998;"><a href="https://www.facebook.com/quynhhanh.tran.3"><i class="fa fa-facebook-square"></i> Quỳnh Hạnh</a></span></h2>
		<hr>
		<h3>Gửi tin nhắn nhanh: </h3>
		<div class="fb-messengermessageus"
			messenger_app_id="357060644715325"
			page_id="488424378183463"
			color="white"
			size="standard" >
		</div>
	</div>
</div>
