{{#section 'title'}}
{{title}}
{{/section}}
{{#section 'css'}}
{{!-- <link rel="stylesheet" type="text/css" href="/css/contact.css"> --}}
{{/section}}
{{#section 'js'}}
{{/section}}
<div class="row categories mybox mybox-bg mar-10 padd-10">
	<div class="mybox white-bg padd-10">
		<h1 class="text-center">{{msg}}</h1>
	</div>
</div>
